@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewBag.Title</h1>
<ul class="nav nav-pills">
    <li>
        <a class="nav-item navbar-link active" href="~/Department/CreateDepartment">Create Department</a>
    </li>
    <li class="nav-item">
        <a class="nav-item navbar-link active" href="~/Department/ModifyDepartment">Modify Department</a>
    </li>
    <li class="nav-item">
        <a class="nav-item navbar-link active" href="~/Employee/CreateEmployee">Create Employee</a>
    </li>
    <li class="nav-item">
        <a class="nav-item navbar-link active" href="~/Employee/ModifyEmployee">Modify Employee</a>
    </li>
</ul>