@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Goal Manager</h1>
    <p class="lead">Goal Manager is a TaxSlayer Employee Goal Content Manager. Please Log In to Continue. </p>
</div>

<!--Employee Version-->
<!--Supervisotr Version-->
<!--Adminstrator Version-->

