@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Goal Manager</h1>
    <p class="lead">Goal Manager is a TaxSlayer Employee Goal Content Manager. Please Log In to Continue. </p>
</div>

<h2>Home Screens</h2>

<ul class="nav nav-pills">
    <li class="nav-item">   
        <a class="nav-item navbar-link active" href="~/Home/EmployeeHome">Employee Home Screen</a>
    </li>
    <li class="nav-item">
        <a class="nav-item navbar-link active" href="~/Home/SupervisorHome">Supervisor Home Screen</a>
    </li>
    <li class="nav-item">
        <a class="nav-item navbar-link active" href="~/Home/AdminHome">Adminstrator Home Screen</a>
    </li>
</ul>

<!--Employee Version-->
<!--Supervisotr Version-->
<!--Adminstrator Version-->

