
@{
    ViewBag.Title = "MainView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MainView</h2>

<ul class="nav nav-pills">
    <li class="nav-item">   
        <a class="nav-item navbar-link active" href="~/Home/EmployeeHome">Employee Home View</a>
    </li>
    <li class="nav-item">
        <a class="nav-item navbar-link active" href="~/Home/SupervisorHome">Supervisor Home View</a>
    </li>
    <li class="nav-item">
        <a class="nav-item navbar-link active" href="~/Home/AdminHome">Administrator Home View</a>
    </li>
   
</ul>