
@{
    ViewBag.Title = "MainView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MainView</h2>

<ul class="nav nav-pills">
    <li class="nav-item">   
        <a class="nav-item navbar-link active" href="~/Goal/CreateGoal">Create Goal</a>
    </li>
    <li class="nav-item">
        <a class="nav-item navbar-link active" href="~/Goal/UpdateGoal">Update Goal</a>
    </li>
    <li class="nav-item">
        <a class="nav-item navbar-link active" href="~/Goal/ViewGoal">View Goal</a>
    </li>
    <li class="nav-item">
        <a class="nav-item navbar-link active" href="~/Department/CreateDepartment">Create Department</a>
    </li>
    <li class="nav-item">
        <a class="nav-item navbar-link active" href="~/Department/ModifyDepartment">Modify Department</a>
    </li>
    <li class="nav-item">
        <a class="nav-item navbar-link active" href="~/Employee/CreateEmployee">Create Employee</a>
    </li>
    <li class="nav-item">
        <a class="nav-item navbar-link active" href="~/Employee/ModifyEmployee">Modify Employee</a>
    </li>
    <li class="nav-item">
        <a class="nav-item navbar-link active" href="~/Report/ViewDepartmentReport">View Department Report</a>
    </li>
    <li class="nav-item">
        <a class="nav-item navbar-link active" href="~/Report/ViewEmployeeReport">View Employee Report</a>
    </li>  
</ul>