@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "View Goal";
}
<h1>View Goal - Mark Zuck</h1>
<h2>Accounting</h2>
<h3>Goal : Pass Spring Certification</h3>
<h3>02/22/2017</h3>
<h3>Total Progress: 80%</h3>
<table class="table  table-bordered table-hover table-responsive">
    <thead>
        <!--update section-->
        <tr class="active">

            <th>Update</th>
            <th>Deadline</th>
            <th>Progress</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="success">Pass ACC 1000 Exam 1</td>
            <td class="success"> 02/31/2017</td>
            <td class="success">60%</td>
            <td class="success">Study and pass ACC 1000 Exam on 01/22/2017</td>
        </tr>
        <tr>
            <th class="alert-danger">Work on ACC 1000 project</th>
            <td class="alert-danger"> 04/01/2017</td>
            <th class="alert-danger">20%</th>
            <th class="alert-danger">Complete and present ACC 1000 project</th>
        </tr>
        <!-- end of update section-->
    </tbody>
    </table>
