@{
    Layout = "~/Views/Shared/_Layout.cshtml";
   
    ViewBag.Title = "View Department Report";
}


<h1><b>View Report - Acounting Department </b></h1>

<h2>Mark Zuck</h2>
<h3>Pass Spring Certification</h3>
<h5>Toatal Progress:<p>40%</p></h5>
<table class="table  table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>Goals</th>
            <th>Date-Time</th>
            <th>Progress</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr class="alert-info">
            <td>Take ACC 1000</td>
            <td>02/22/2017</td>
            <td>90%</td>
            <td>Pass ACC 1000 final exam</td>
        </tr>
        <!--update section-->
        <tr class="active">
            <td>    </td>
            <th>Update</th>
            <th>Progress</th>
            <th>Description</th>
        </tr>
        <tr class="alert-warning">
            <td>    </td>
            <td>Pass ACC 1000 Exam 1</td>
            <td >100%</td>
            <td >Study and pass ACC 1000 Exam on 01/22/2017</td>
        </tr>
        <tr class="alert-warning">
            <td>    </td>
            <th>Work on ACC 1000 project</th>
            <th >20%</th>
            <th >Complete and present ACC 1000 project by 04/01/2017</th>
        </tr>
        <!-- end of update section-->
        <tr class="alert-info">
            <td>Take ECON 4300</td>
            <td>02/22/2017</td>
            <td>10%</td>
            <td>Enroll and pass the class with C or better</td>
        </tr>
        <!--update section-->
        <tr class="active">
            <td>    </td>
            <th>Update</th>
            <th>Progress</th>
            <th>Description</th>
        </tr>
        <tr class="alert-warning">
            <td>    </td>
            <td>Sign up for ECON 4300</td>
            <td>50%</td>
            <td >Register for class by Fall Term</td>
        </tr>
        <!-- end of update section-->
    </tbody>

    </table>

 <!-- 2nd Employee -->
<h2>Steve Robs</h2>
<h3>Complete Monthly Quota</h3>
<h5>Toatal Progress:<p>68%</p></h5>
<table class="table  table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>Goals</th>
            <th>Date-Time</th>
            <th>Progress</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr class="alert-info">
            <td>Consult with 50 or more clients</td>
            <td>02/22/2017</td>
            <td>90%</td>
            <td>Ensure clients have been fully consulted over tax plans</td>
        </tr>
        <tr class="alert-info">
            <td>Bring in new clients</td>
            <td>02/22/2017</td>
            <td>77%</td>
            <td>Enroll 10 or more new clients to Taxslayer</td>
        </tr>
    </tbody>
</table>

