@font-face {
    font-family: 'Futura_ICG';
    src: url('Futura_ICG.ttf') format('truetype');
}

body {
    padding-top: 75px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override ;the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#jumbotron{
 background: url(../Images/JBBackground.jpg);
 background-size:cover;
 color:white;
 font-family:Futura_ICG;
}
#conlogo{
    padding:5px;
}
#bannerlogo{
    height: 50px;
    align-content:center;
}
#navtext{
    background-color:green;
    color:white;
    margin:0;
    padding:20px;
    font-size:15px;
    font-family:Futura_ICG;

}
.nav-item{
    color:white;
    font-weight:bold;
    background-color:deepskyblue;
    padding:5px;
    font-family:Futura_ICG;
}
#navhome {
}